DB_HOST=localhost
DB_PORT=5433
DB_NAME=pitflow_payment
DB_USERNAME=pitflow_payment
DB_PASSWORD=change-me
INTERNAL_API_KEY=change-me
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_SECRET=
MERCADO_PAGO_BASE_URL=https://api.mercadopago.com
MERCADO_PAGO_ENVIRONMENT=TEST
MERCADO_PAGO_NOTIFICATION_URL=
SERVICE_ORDER_BASE_URL=
