DB_HOST=localhost
DB_PORT=5433
DB_NAME=pitflow_payment
DB_USERNAME=pitflow_payment
DB_PASSWORD=change-me
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_SECRET=
MERCADO_PAGO_BASE_URL=https://api.mercadopago.com
MERCADO_PAGO_NOTIFICATION_URL=
MERCADO_PAGO_TEST_MODE=true
MERCADO_PAGO_ENABLED=false
PAYMENT_WEBHOOK_ENABLED=false
PAYMENT_CONSUMER_ENABLED=false
PAYMENT_OUTBOX_ENABLED=false
AWS_REGION=us-east-1
PAYMENT_COMMAND_QUEUE_NAME=payment-command-queue
ORCHESTRATOR_QUEUE_NAME=service-order-orchestrator-queue
